<%= form_for(@fresher, url: apply_public_event_path(@event), :html => {:id=>"form_application", :class=>"mb-0 form-horizontal", :role => "form", :method => :post, multipart: true}) do |f| %>

  <div class="panel panel-default">
    <div class="panel-heading">
      Application Form
    </div>
    <div class="panel-body" style="height:auto;">

      <div id="application_form_error">
        <%= @fresher.errors[:base].to_sentence %>
      </div>

      <div class="form-inputs mb-30 mt-30">

        <%= theme_form_field(@fresher, :name) %>
        <%= theme_form_field(@fresher, :email) %>
        <%= theme_form_field(@fresher, :phone) %>
        <%= theme_form_field(@fresher, :current_city) %>
        <%= theme_form_field(@fresher, :native_city) %>

        <%= f.fields_for :candidate do |c| %>
          <% options_list = Array[*Fresher::YEAR_OF_PASSING_LIST.collect {|v,i| [v,v] }].sort %>
          <%= theme_form_select_group(c, @fresher, :year_of_passing, options_list, label: "Year of Passing", param_name: "year_of_passing", prompt: true) %>
        <% end %>

        <%= theme_form_field(@fresher, :resume, html_options: {type: 'file'}) %>

      </div>

    </div>

    <div class="panel-footer clearfix">
      <div class="pull-right">
        <%= theme_form_button(@career_interest, "Submit the Form") %>
      </div>
    </div>
  </div>
<% end %>

<script type="text/javascript">
  // Javascripts are loaded at the bottom.
  document.addEventListener("DOMContentLoaded", function(event) {
    validateApplicationForm();
  });
</script>

