<%= flash_message if request.xhr? -%>

<div class="panel panel-default">
  <div class="panel-body" style="height:auto;">
    <div class="pull-left" style="width:30%;">
      <%
        #redirect_url = main_app.admin_event_path(@event)
        #change_picture_url = upload_image_link(@event, redirect_url, :logo)
      %>
      <%#= theme_image(@event, redirect_url, :logo, "logo.image.url", change_picture_url: change_picture_url) %>
    </div>
    <div class="pull-left ml-10" style="width:100%;">
      <%= theme_panel_heading(@event.name) %>
      <%= theme_panel_sub_heading(stringify_date(@event.date), "#") if @event.date %>
      <%= theme_panel_description(@event.venue) %>
      <%= theme_panel_description(@event.description, "fs-14 mt-10 text-color-gray") %>
    </div>

    <div class="cl-20"></div>

    <table class="table table-condensed table-hover table-striped">
      <thead>
        <tr>
          <th>Attribute</th>
          <th>Value</th>
        </tr>
      </thead>
      <tbody>

        <% [:slug, :start_time, :end_time, :map_link, :contact_person, :contact_number].each do |attribute| %>
        <tr class="text-color-gray">
          <td class="bold"><%= attribute %></td>
          <% if attribute == :map_link %>
            <td><%= link_to "Map Link", @event.send(attribute) %></td>
          <% else %>
            <td><%= @event.send(attribute) %></td>
          <% end %>

        </tr>
        <% end %>

      </tbody>
    </table>

    <div class="cl-20"></div>

    <%= link_to("Checkout Event Page", "/public/events/#{@event.slug}", class: "btn btn-info btn-xs", target: "_blank") %>
    <%= theme_edit_button(main_app.edit_admin_event_path(@event)) %>
    <%= theme_delete_button(main_app.admin_event_path(@event)) %>

  </div>
</div>

<%= theme_more_widget(@event,
          heading: "Event Details",
          data_columns: [:id, :slug, :created_at, :updated_at],
          super_admin: true) %>





