<%= image_tag("q-careers-white-280px.png", class: "centered mt-20", alt: "Q-Careers Logo", width: "180px") %>
<div class="cl-30"></div>

<ul>

  <li class="<%= nav_class("user/dashboard") %>">
    <%= link_to raw("<i class=\"fa fa-dashboard\"></i> Dashboard"), main_app.users_dashboard_url %>
  </li>

  <% if @current_user.is_q_careers_admin? %>
    <li class="<%= nav_class("admin/users") %>">
      <%= link_to raw("<i class=\"fa fa-globe\"></i> Manage Users"), main_app.admin_users_path %>
    </li>
  <% end %>

  <% if @current_user.is_recruiter? %>
    <li class="<%= nav_class("admin/events") %>">
      <%= link_to raw("<i class=\"fa fa-globe\"></i> Manage Events"), main_app.admin_events_path %>
    </li>
  <% end %>

  <% if @current_user.is_volunteer? %>
    <li class="<%= nav_class("admin/registrations") %>">
      <%= link_to raw("<i class=\"fa fa-globe\"></i> Registration Desk"), main_app.admin_events_path %>
    </li>
  <% end %>

  <% if @current_user %>
    <li class="<%= nav_class("admin/recommendations") %>">
      <%= link_to raw("<i class=\"fa fa-globe\"></i> My Referrals"), main_app.admin_events_path %>
    </li>
  <% end %>

  <li class="heading">My Account</li>

  <li class="<%= nav_class("account/profile") %>">
    <%= link_to raw("<i class=\"fa fa-user\"></i> My Profile"), QAuthRubyClient.configuration.q_auth_url + QAuthRubyClient.configuration.my_profile_url, target: "_blank" %>
  </li>

  <li>
    <%= link_to raw("<i class=\"fa fa-power-off\"></i> Sign Out"), q_auth_ruby_client.sign_out_path, :method => :delete %>
  </li>

  <% if @current_user.is_super_admin? %>

    <!-- <li class="heading">APIS</li>

    <li><%#= link_to raw("<i class=\"fa fa-anchor\"></i> API 1"), "#", :method => :get %></li>
    <li><%#= link_to raw("<i class=\"fa fa-anchor\"></i> API 2"), "#", :method => :get %></li>
    <li><%#= link_to raw("<i class=\"fa fa-anchor\"></i> API 3"), "#", :method => :get %></li>
    <li><%#= link_to raw("<i class=\"fa fa-anchor\"></i> API 4"), "#", :method => :get %></li> -->

  <% end %>

</ul>

