<% if @registration.errors.blank? && @candidate.errors.blank? %>
	// Fill the right box with first registration details
	$('#div_registration_details').html("<%= escape_javascript(render(:partial=>'show')) %>");

	// Add the newly created item to the list
  <% item_link = volunteer_event_registration_path(@event, @registration) %>
  $("#div_registration_index").prepend("<div id=\"div_registration_<%= @registration.id %>\"><%= escape_javascript(render(:partial => 'common/candidate/item', :locals => { candidate: @candidate, career_interest: @registration, item_link: item_link})) %></div>")
  $(".panel-message").hide();
  $("#div_registrations_count").text("<%= @event.registrations.count %>");
<% else %>
  $('#div_registration_details').html("<%= escape_javascript(render(:partial=>'form')) %>");
  validateRegistrationForm();

  // Populate Server Side Errors
  <%
    text = "You have few errors. They have been highlighted."
    error_message = content_tag(:div, text, class: "alert alert-danger")
  %>
  $("#registration_form_error").html("<%= escape_javascript(error_message) %>");
<% end %>
