<% referrals = event.referrals.count %>

<div class="panel panel-default media p-5">
  <div class="row">
  <a class="col-sm-2" href="#">
    <%= display_image(event, "logo.image.url",
                        width: "125px",
                        place_holder: {
                          width: 100,
                          height: 60,
                          text: "<No Image>"}
                        ) %>
  </a>
  <div class="col-sm-10">
    <div class="row">
      <div class="col-sm-10">
        <%= theme_item_title(event.name, main_app.employee_event_referrals_path(event), "text-color-blue fs-16", false) %>
        <%= theme_item_sub_title(stringify_date(event.date)) if event.date %>
        <%#= theme_item_description(event.venue) %>
        <%= clear_tag(10) %>
        <%= theme_item_description(event.description, 80) %>
        <%= link_to("Checkout Event Page", "/public/events/#{@event.slug}", class: "btn btn-info btn-xs", target: "_blank") %>
      </div>

      <div class="col-sm-2">
        <div class="panel panel-default p-10 text-color-gray" style="text-align:center;">
        <div class="text-color-green" style="font-size:24px;"><%= referrals %></div>
          <%= link_to "Referrals", main_app.employee_event_referrals_path(event), style: "font-size:12px;color:grey", target: "_blank" %>
        </div>
      </div>

    </div>
  </div>
</div>

