<% url = @configuration.new_record? ? admin_configurations_path : admin_configuration_path(@configuration) %>
<% method = @configuration.new_record? ? :post : :put %>

<%= form_for(@configuration, :url => url, :html => {:id=>"form_configuration", :class=>"mb-0 form-horizontal", :role => "form", :method => method, :remote=>true}) do |f| %>

  <div class="panel panel-default">
    <div class="panel-heading">
      <%= params[:action].titleize %> Configuration
    </div>
    <div class="panel-body" style="height:auto;">

      <div id="event_form_error">
        <%= @configuration.errors[:base].to_sentence %>
      </div>

      <div class="form-inputs mb-30 mt-30">
        <%= theme_form_field(@configuration, :name) %>
        <%= theme_form_field(@configuration, :value) %>
      </div>

    </div>

    <div class="panel-footer clearfix">
      <div class="pull-right">
        <% show_url = @configuration.new_record? ? main_app.admin_configurations_path : main_app.admin_configuration_path(@configuration) %>
        <%= link_to "Cancel", show_url, class: "btn btn-default", remote: true %>
        <%= theme_form_button(@configuration) %>
<% end %>

