<%= theme_heading("Manage Configurations") %>

<div class="row mb-10">
	<div class="col-sm-6">
		<%= theme_button('New Configuration', 'plus', main_app.new_admin_configuration_path) %>
	</div>
	<div class="col-sm-6">
		<%= theme_search_form(QcareerConfiguration, main_app.admin_configurations_path) %>
  </div>
</div>

<div class="row">
	<div id="div_configuration_index" class="col-sm-6 hidden-xs">
		<%= render :partial=>"index" %>
	</div>

	<div id="div_configuration_drop_down" class="col-xs-12 visible-xs">
		<%#= theme_drop_down(@configurations, :name) %>
	</div>

	<div id="div_configuration_details" class="col-xs-12 col-sm-6">
		<%= theme_detail_box(@configurations) %>
	</div>
</div>


